<div th:fragment = "news_add">
  <!-- Modal -->
  <div class="modal fade" id="addNews" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Добавить услугу</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/news_add" method="post">
            <input type="text" name="title" placeholder="Введите название новости" class="form-control"><br>
            <input type="text" name="anons" placeholder="Введите анонс новости" class="form-control"><br>
            <textarea name="full_text" placeholder="Введите текст нвоости" class="form-control"></textarea><br>
            <button type="submit" class="btn btn-success">Добавить новость</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--Modal-->
</div>
