<div th:fragment = "header">
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/home" class="nav-link px-2 text-white">Главная</a></li>
                    <li><a href="/news" class="nav-link px-2 text-white">Новости</a></li>
                    <li><a href="/price" class="nav-link px-2 text-white">Цены</a></li>
                    <li><a href="/partners" class="nav-link px-2 text-white">Партнеры</a></li>
                    <li><a href="/about" class="nav-link px-2 text-white">О нас</a></li>
                    <li><a href="/news/add" class="nav-link px-2 text-white">Добавить новость</a></li>
                </ul>

                <div class="text-center">
                    <div class="text-end">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Заказать звонок
                        </button>
                        <button type="button" class="btn btn-outline-light me-2">
                            <a href="/login" class="nav-link px-2 text-white">Авторизация</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Заказать звонок</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/request_call" method="post">
                        <input type="text" name="name" placeholder="Имя" class="form-control"><br>
                        <input type="text" name="mobile_number" placeholder="Номер телефона" class="form-control"><br>
                        <textarea name="text" placeholder="Ваш вопрос" class="form-control"></textarea><br>
                        <button type="submit" class="btn btn-primary">Заказать</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
    <!--Modal-->
</div>


